.container {
   width: 100%;
   display: flex;
   justify-content: space-between;
  }
   
  .container1{
    width: 65%;
    border: 1px solid rgb(94, 92, 92);
    background-color: rgb(196, 238, 239);
  }

  .container2{
padding:  10px;
width: 35%;
border: 1px solid rgb(94, 92, 92);
background-color: rgb(193, 235, 235);

  }


  .productcard {
    display: flex;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    width: 95%;
  }
  
  .productimage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 40px;
  }
  
  .productdetails {
    flex-grow: 1;
  }
  
  .productdetails {
    text-align: start;
  }

  .productdetails h3 {
    margin: 0;
  }
  
  .productdetails p {
    margin: 5px 0;
    color: #555;
  }
  
  /* .quantitybuttons {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .quantitybutton {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
  }
   */
  .totalamount {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .nav img{
    width: 200px;
    height: 100px;
}

.stepper{
  width: 80%;
    margin: auto;
}