.container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: rgba(240, 130, 40, 0.993) 0px 3px 8px;
}
.box1{  
    width: 30%;
    height: 500px;
    background-color: rgb(223, 209, 62);
    text-align: start;
    
}
.box2{  
    width: 60%;
    height: 500px;
    background-color: rgb(228, 228, 224);
}
.image{
    position: relative;
    top: 10%;
    width: 90%;
    height: 80%;
   margin: auto;
}
.edit1{
    background-color: rgb(31, 219, 31);
    margin-bottom: -60px;
}
.edit3{
    background-color: rgb(230, 183, 29);
    margin-bottom: -60px;
}
.edit2{
    background-color: rgb(31, 178, 219);
    margin-bottom: -60px;
}
b{
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width : 1000px) and (min-width:700px){
    .box2{  
        width: 50%;
        height: 540px;
    }
    .box1{  
        width: 40%;
        height: 540px;       
    }
    
}


@media screen and (max-width:700px){
    .box2{  
        width: 50%;
        height: 540px;
    }
    .box1{  
        width: 40%;
        height: 540px;       
    }
    .edit1{
        font-size: 12px;
        width: 50%;
        height: 30px;
    }
    .edit2{
        font-size: 12px;
        width: 50%;
        height: 30px;
    }
}